<div class="card container text-center hello-pet" style="width: 50rem; height: 25rem;">
    <img src="" class="card-img-top" style="height: 15rem; border-radius: 5px;">
    <div class="card-body">
        <h3 class="card-title">hello</h3>
        <h4 class="card-text">world</h4>
    </div>
</div>